<section class="widget">
  <header>
    <h4><i class="icon-alert"></i> Device Notifications for <%= @instrument.title %></h4>
    <div class="actions hidden-xs-portrait"> 
      <%= link_to new_project_instrument_device_notification_path(current_project, @instrument), class: 'btn btn-primary' do %>
        <i class="icon-plus"></i> New Device Notification 
      <% end %>
    </div>
  </header>
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Edit</th>
          <th>Days</th>
          <th>Time</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
    <% @device_notifications.each do |device_notification| %>
        <tr>
          <td><%= link_to 'Edit', project_instrument_device_notification_path(@project, @instrument, device_notification) %></td>
          <td><%= device_notification.time %></td>
          <td><%= device_notification.message %></td>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</section>
