<h1>Tables for instrument: <b><%= @instrument.title %></b></h1>
<section class="widget" ng-controller="GridsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>)">
    <div class="tab-content well" ng-repeat="grid in grids">
        <form editable-form name="editableForm" onaftersave="updateGrid(grid)">
            <header>
                <h4> 
                    <i class="fa fa-list-alt"></i>
                    <span editable-text="grid.name" e-name="name"> {{grid.name}} </span>
                </h4>
            </header>
            <div>
                <span class="title">Question Type:</span> 
                <span editable-select="grid.question_type" e-name="question_type" 
                    e-ng-options="question_type as question_type for question_type in gridQuestionTypes">
                    {{grid.question_type}}
                </span>
            </div>
            <div ng-controller="GridLabelsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>, grid.id)">
                <legend class="section">Grid Option Labels</legend>
                <button type="button" ng-click="addGridLabel(grid)" ng-show="editableForm.$visible" class="btn btn-xs btn-primary pull-right">
                  <i class="icon-plus"></i> Add Option Label
                </button>
                <div ng-repeat="grid_label in grid_labels">
                    <span editable-textarea="grid_label.label" e-name="grid_label" onaftersave="saveLabel(grid_label)">{{grid_label.label}}</span>
                    <button ng-click="removeGridLabel(grid_label)" ng-show="editableForm.$visible" class="btn btn-danger"><i class="icon-trash"></i></button>
                </div>
                <div class="buttons">
                    <button type="button" class="btn btn-primary pull-right" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">Edit Grid</button>
                    <button type="button" class="btn btn-danger pull-right" ng-click="deleteGrid(grid)" ng-show="!editableForm.$visible">Delete Grid</button>
                    <span ng-show="editableForm.$visible">
                        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">Save</button>
                        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">Cancel</button>
                    </span>
                </div>
            </div>
        </form>
        <div ng-controller="GridQuestionsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>, grid.id)">
            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:10%">Number in Instrument</td>
                    <td style="width:10%">Question Identifier</td>
                    <td style="width: 55%">Question Text</td>
                    <td style="width: 5%">Starts Grid</td>
                    <td style="width: 20%">Edit</td>
                </tr>
                <tr ng-repeat="question in questions">
                    <td>
                        <span editable-text="question.number_in_instrument" e-form="rowform" e-name="number_in_instrument" e-required>
                            {{question.number_in_instrument}}
                        </span>
                    </td>
                    <td>
                        <span editable-text="question.question_identifier" e-form="rowform" e-name="question_identifier" e-required>
                            {{question.question_identifier}}
                        </span>
                    </td>
                    <td>
                        <span editable-textarea="question.text" e-form="rowform" e-name="text" e-required>
                            {{question.text}}
                        </span>
                    </td>
                    <td>
                        <span editable-select="question.first_in_grid" e-name="first_in_grid" e-form="rowform" e-ng-options="s as s for s in statuses">
                            {{question.first_in_grid}}
                        </span>
                    </td>
                    <td>
                        <form editable-form name="rowform" onaftersave="updateQuestion(question)" ng-show="rowform.$visible" class="form-buttons form-inline">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">save</button>
                            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">cancel</button>
                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                            <button class="btn btn-danger" ng-click="deleteQuestion(question)">delete</button>
                        </div>  
                    </td>
                </tr>  
            </table>
        </div> 
        <div class="top-buffer">
            <button class="btn btn-success" ng-click="newQuestion(grid)">Add Question</button>
        </div>
    </div>
    <button class="btn btn-success" ng-click="newGrid()">Add Grid</button>
    <div ng-show="displayNewTemplate">
        <%= render 'new' %>
    </div>
</section>