<div class="single-widget-container">
    <section class="widget login-widget">
        <header class="text-align-center">
            <h4>Login to your account</h4>
        </header>
        <div class="body">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <fieldset>
                  <div class="form-group no-margin">
                      <label for="email" >Email</label>

                      <div class="input-group input-group-lg">
                              <span class="input-group-addon">
                                  <i class="eicon-user"></i>
                              </span>
                          <%= f.email_field :email, :autofocus => true, class: 'form-control input-lg', placeholder: 'Your email' %>
                        </div>
                      </div>

                  </div>

                  <div class="form-group">
                      <label for="password" >Password</label>

                      <div class="input-group input-group-lg">
                              <span class="input-group-addon">
                                  <i class="icon-lock"></i>
                              </span>
                          <%= f.password_field :password, class: 'form-control input-lg', placeholder: "Your password" %></div>
                      </div>

              <div class="form-actions">
                  <%= f.submit "Sign in", class: 'btn btn-block btn-lg btn-danger'  %>
                  <div class="forgot"><%= link_to 'Forgot password?', new_user_password_path, class: 'forgot'%></div>
              </div>
          </fieldset>
        <% end %>
      </div>
  </section>
</div>
