<section class="widget">
  <header>
    <h4><i class="icon-mobile-phone"></i> Devices</h4>
  </header>
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Device Identifier</th>
          <th>Device Label</th>
          <th>Number of Surveys</th>
          <!-- <th>Completion %</th> -->
          <th>Last Survey</th>
          <th>Last Update</th>
          <th>Current App Version</th>
          <th>Sync Data</th>
        </tr>
      </thead>
      <tbody>
    <% @devices.each do |device| %>
        <tr class="<%= "danger" if device.danger_zone? %>">
          <td><%= device.identifier %></td>
          <td><%= device.label %></td>
          <td><%= device.surveys.count %></td>
          <!--<td><%#= device.completion_rate %></td>--> 
          <% unless device.last_survey.nil? || device.device_sync_entries.last.nil? %>
            <td><%= link_to device.last_survey.uuid, project_survey_path(current_project, device.last_survey) %></td>
            <td><%= time_ago_in_words(device.device_sync_entries.last.updated_at) %> ago </td>
            <td><%= device.device_sync_entries.last.current_version %></td>
          <% end %>
          <td><%= link_to 'Sync Entries', project_device_device_sync_entries_path(current_project, device) %>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</section>
