<section class="widget">
  <header>
    <h4><i class="icon-mobile-phone"></i> Devices</h4>
  </header>
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Device Identifier</th>
          <th>Device Label</th>
          <th>Number of Surveys</th>
          <th>Completion %</th>
          <th>Last Survey</th>
          <th>Last Update</th>
        </tr>
      </thead>
      <tbody>
    <% @devices.each do |device| %>
        <tr class="<%= "danger" if device.danger_zone? %>">
          <td><%= device.identifier %></td>
          <td><%= device.label %></td>
          <td><%= device.surveys.count %></td>
          <td><%= device.completion_rate %></td>
          <% unless device.last_survey.nil? %>
            <td><%= link_to device.last_survey.uuid, project_survey_path(@project, device.last_survey) %></td>
            <td><%= time_ago_in_words(device.last_survey.updated_at) %> ago </td>
          <% end %>
        </tr>
    <% end %>
      </tbody>
    </table>
  </div>
</section>
