
<h2 class="page-title"> Number of responses per day per survey </h2>
<div class="col-md-9">
  <!--<section class="widget large">-->
    <div id="survey-bar-counts">

    </div>

 <!-- </section>-->
  <div id="daily-responses" style="visibility: hidden">
    <%= @responses %>
  </div>
</div>
<div class="col-md-3">
  <% @instrument_summary.each do |name, values| %>
      <b> <%= name %> </b> </br>
      <table>
      <% values.each do |stat, summary| %>
            <tr>
            <td> <%= stat %> </td>
            <td> <%= summary %> </td>
            </tr>
      <% end %>
      </table>
  <% end %>
</div>

<%= javascript_include_tag 'scripts/daily_responses' %>