<section class="widget">
  <div class="body">
      <header>
        <h4><i class="eicon-export"></i><b>Project Exports</b></h4>
      </header>
      <table class="table table-hover">
        <thead>
            <tr>
                <th> Project Name </th>
                <th> Created at </th>
                <th> Status </th>
                <th> Responses csv </th>
                <th> Response Pictures </th>
            </tr>
        </thead>
        <tbody>
            <% @project_exports.each do |export| %>
                <tr>
                    <td>
                        <% if export.project_id %>
                            <% project = Project.find export.project_id %>
                            <%= link_to project.name, project_path(project.id) %>
                        <% end %>
                    </td>
                    <td><%= export.created_at %></td>
                    <td>
                        <% if export.done %>
                            Processed
                        <% else %>
                            Processing...
                         <% end %>
                    </td>
                    <td>
                        <% if policy(export).download_project_responses? %>
                            <% if export.long_format_url %>
                                <%= link_to 'download csv', download_project_responses_project_response_export_path(current_project, export.id) %>
                            <% end %>
                       <% end %>
                    </td>
                    <td>
                        <% if policy(export).download_instrument_responses? %>
                            <% if (export.response_images_export && export.response_images_export.download_url) %>
                                <%= link_to 'Download Images', download_project_response_images_project_response_export_path(current_project, export.id) %>
                            <% end %>
                       <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
      </table>
      <header>
        <h4><i class="eicon-export"></i> <b>Instrument Exports</b></h4>
      </header>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th>Instrument Title</th>
                  <th>Instrument Versions</th>
                  <th>Created at</th>
                  <th>Status</th>
                  <th>Responses csv </th>
                  <th>Response Pictures</th>
              </tr>
          </thead>
          <tbody>
              <% @instrument_exports.each do |export| %>
                <tr>
                  <td>
                    <% if export.instrument_id %>
                        <% instrument = Instrument.find export.instrument_id %>
                        <%= link_to instrument.title, project_instrument_path(instrument.project_id, instrument.id) %>
                    <% end %>
                  </td>
                  <td>
                      <% if export.instrument_versions %>
                        <% instrument = Instrument.find export.instrument_id %>
                        <% export.instrument_versions.each do |instrument_version| %>
                            <%= link_to instrument_version, project_instrument_version_path(instrument.project_id, instrument.id, instrument_version) %>
                        <% end %>
                      <% end %>
                  </td>
                  <td><%= export.created_at %></td>
                  <td>
                        <% if export.done %>
                            Processed
                        <% else %>
                            Processing...
                         <% end %>
                  </td>
                  <td>
                      <% if policy(export).download_instrument_responses? %>
                        <% if export.long_format_url %>
                            <%= link_to 'download csv', download_instrument_responses_project_response_export_path(current_project, export.id) %>
                        <% end %>
                      <% end %>
                  </td>
                  <td>
                      <% if policy(export).download_instrument_response_images? %>
                        <% if (export.response_images_export && export.response_images_export.download_url) %>
                            <%= link_to 'download images zip', download_instrument_response_images_project_response_export_path(current_project, export.id) %>
                        <% end %>
                      <% end %>
                  </td>
                </tr>
              <% end %>
          </tbody>
      </table>
  </div>      
</section>
