<section class="widget">
  <header>
    <h4><i class="icon-edit"></i> Projects</h4>
  </header>
  <div class="body">
    <%= form_for(@project) do |f| %>
        <% if @project.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

              <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field top-buffer">
          <%= f.label :name, 'Project Name' %> <br />
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="field top-buffer">
          <%= f.label :description, 'Project Description' %> <br />
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="field top-buffer">
          <%= f.label :require_consent, 'Require Consent' %> <br />
          <%= f.check_box :require_consent %>
        </div>
        <div class="field top-buffer">
          <%= f.label :consent_form_text, 'Consent Form Text' %> <br />
          <%= f.text_area :consent_form_text, class: 'form-control' %>
        </div>
        <div class="top-buffer">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</section>
