<h1><%= @instrument.title %> versions</h1>

<%= paginate @instrument.versions.page(params[:page]) %>

<section class="widget">
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Version Number</th>
          <th>Instrument Title</th>
          <th>Created by</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <% @instrument.versions.page(params[:page]).each do |version| %>
            <tr>
              <td><%= link_to version.index, project_instrument_version_path(current_project, @instrument, version.index) %></td>
              <td><%= version.reify.title %></td>
              <td><%= version.creator %></td>
              <td><%= version.created_at %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</section>
