<h1>
  <% if @survey.instrument %>
    <%= @survey.instrument.title %><br /><%= @survey.uuid %>
  <% end %>
</h1>

<% if @survey.metadata %>
  <section class="widget">
    <header>
      <h4><i class="icon-download-alt"></i> Survey Metadata</h4>
    </header>
    <div class="body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% @survey.metadata.each_pair do |key, value| %>
          <tr>
            <td><%= key %></td>
            <td><%= value %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </table>
    </div>
  </section>
<% end %>

<section class="widget">
  <header>
    <h4><i class="icon-download-alt"></i> Survey Results</h4>
  </header>
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Question Type</th>
          <th>Question Identifier</th>
          <th>Question Text</th>
          <th>Response</th>
          <th>Special Response</th>
          <th>Other Response</th>
          <th>Created at</th>
          <th>Time taken(sec)</th>
          <th>Response Image</th>
          <th>Device User</th>
        </tr>
      </thead>
      <tbody>
    <% @survey.responses.each do |response| %>
          <% if response.question %>
          <tr>
          <td><%= response.question.question_type %></td>
          <td><%= response.question.question_identifier %></td>
          <td>
            <%= raw @instrument_version.versioned(response.question).text %>
          </td>
          <td><%= response.text %> </td>
          <td><%= response.special_response %></td>
          <td><%= response.other_response %></td>
          <td><%= response.created_at %> </td>
          <td><%= response.time_taken_in_seconds %></td>
          <td>
              <% if response.response_image %>
                    <%= link_to 'View Image', project_response_image_path(current_project, response.response_image.id)  %>
              <% end %>
          </td>
          <td>
              <% if response.device_user %>
                 <%= response.device_user.name %>
              <% end %>
          </td>
        </tr>
        <% end %>
    <% end %>
      </tbody>
    </table>
  </div>
</section>
