<h1>
  <% if @survey.instrument %>
    <%= @survey.instrument.title %><br /><%= @survey.uuid %>
  <% end %>
</h1>
<section class="widget">
  <header>
    <h4><i class="icon-download-alt"></i> Survey Results</h4>
  </header>
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Question Type</th>
          <th>Question Identifier</th>
          <th>Question Text</th>
          <th>Question Options</th>
          <th>Response</th>
          <th>Other Response</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
    <% @survey.responses.each do |response| %>
          <% if response.question %>
          <tr>
          <td><%= response.question.question_type %></td>
          <td><%= response.question.question_identifier %></td>
          <td><%= response.question.text %></td>
          <td><%= response.question.options.join(', ') %></td>
          <td><%= response %>
          <td><%= response.other_response ? response.other_response : 'NA' %></td>
          <td><%= response.created_at %>
        </tr>
        <% end %>
    <% end %>
      </tbody>
    </table>
  </div>
</section>
