<section class="widget">
  <header>
    <h4><i class="icon-globe"></i> Translation for <%= @instrument.title %></h4>
  </header>
  <div class="body">
    <%= form_for [@project, @instrument, @instrument_translation] do |f| %>
      <% if @instrument_translation.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@instrument_translation.errors.count, "error") %> prohibited this translation from being saved:</h2>
          <ul>
          <% @instrument_translation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field bottom-buffer">
        <%= f.label :title, 'Instrument Title' %><br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div>
        <strong>Instrument language:</strong> <%= @instrument.language %>
      </div>

      <div class="field bottom-buffer">
        <%= f.label :language, 'Translation Language' %>
        <%= f.select(:language, options_for_select(Settings.languages, @instrument_translation.language)) %>
      </div>

    <%= paginate @instrument.questions.page(params[:page]) %>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Question Identifier</th>
          <th><%= @instrument.language %></th>
          <th>Translated Text</th>
        </tr>
      </thead>
      <tbody>
        <% @instrument.questions.page(params[:page]).each do |question| %>
          <tr>
            <td><%= question.question_identifier %></td>
            <td><%= raw question.text %></td>
            <td><div class="controls form-group" ng-init="q_<%= question.id %>.text = '<%= question.translated_for(@instrument_translation.language, :text) %>'">
              <div text-angular="text-angular" id="text-angular-content" rows="4" ta-toolbar="[['bold','italics','underline','insertLink'],['redo','undo'],['html']]" ng-model="q_<%= question.id  %>.text" name="<%= "question_translations[#{question.id}]" %>"></div>
            </div></td>
          </tr>
          <% if question.has_options? %>
            <% question.options.each do |option| %>
              <tr>
                <td>Option for <%= question.question_identifier %></td>
                <td><%= option.text %></td>
                <td><%= text_area_tag "option_translations[#{option.id}]",
                  option.translated_for(@instrument_translation.language, :text), size: '50x5' %></td>
              </tr>
            <% end %>
          <% end %>
          <% if question.reg_ex_validation_message %>
            <td>Regular expression failure message for <%= question.question_identifier %></td>
            <td><%= question.reg_ex_validation_message %></td>
            <td><%= text_area_tag "validation_translations[#{question.id}]",
              question.translated_for(@instrument_translation.language, :reg_ex_validation_message), size: '50x5' %></td>
          <% end %>
        <% end %>
      </tbody>
    </table>

      <div class="top-buffer pull-right">
        <%= f.submit class: 'btn btn-primary btn-large' %>
      </div>
    <% end %>
  </div>
</section>
