<section class="widget">
  <header>
    <h4><i class="icon-globe"></i> Translation for <%= @instrument.title %></h4>
  </header>
  <div class="body">
    <%= form_for [@instrument, @instrument_translation] do |f| %>
      <% if @instrument_translation.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@instrument_translation.errors.count, "error") %> prohibited this translation from being saved:</h2>
          <ul>
          <% @instrument_translation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field bottom-buffer">
        <%= f.label :title, 'Instrument Title' %><br />
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div>
        <strong>Instrument language:</strong> <%= @instrument.language %>
      </div>

      <div class="field bottom-buffer">
        <%= f.label :language, 'Translation Language' %>
        <%= f.select(:language, options_for_select(Settings.languages, @instrument_translation.language)) %>
      </div>

      <% @instrument.questions.each do |question| %>
        <%= question.question_identifier %>
        <%= question.text %>
        <%= text_field_tag "question_translations[#{question.id}]", question.translated_for(@instrument_translation.language) %>
        <% if question.has_options? %>
          <% question.options.each do |option| %>
            <%= option.text %>
            <%= text_field_tag "option_translations[#{option.id}]", option.translated_for(@instrument_translation.language) %>
          <% end %>
        <% end %>
        <br />
      <% end %>

      <div class="top-buffer pull-right">
        <%= f.submit class: 'btn btn-primary btn-large' %>
      </div>
    <% end %>
  </div>
</section>
