<section class="widget">
  <header>
    <h4><i class="icon-globe"></i> <%= link_to @instrument.title, project_instrument_path(current_project, @instrument) %> in <%= @instrument_translation.language %></h4>
    <strong>Translated Title:</strong> <%= @instrument.translated_for(@instrument_translation.language, :title) %>
    <div class="actions hidden-xs-portrait"> 
      <%= link_to edit_project_instrument_instrument_translation_path(current_project, @instrument, @instrument_translation), class: 'btn btn-primary' do %>
        <i class="icon-globe"></i> Edit Translation
      <% end %>
    </div>
  </header>
  <div class="body">
    <table class="table table-hover fixed-wide">
      <thead>
        <tr>
          <th>Question Identifier</th>
          <th><%= @instrument.language %></th>
          <th><%= @instrument_translation.language %></th>
        </tr>
      </thead>
      <tbody>
    <% @instrument.questions.each do |question| %>
        <tr class="<%= "danger" if question.translated_for(@instrument_translation.language, :question_changed) %>">
          <td><%= question.question_identifier %></td>
          <td><%= raw question.text %></td>
          <td><%= raw (question.translated_for @instrument_translation.language, :text) %></td>
        </tr>
        <% if question.has_options? %>
          <% question.options.each do |option| %>
            <tr class="<%= "danger" if option.translated_for(@instrument_translation.language, :option_changed) %>">
              <td>Option for <%= question.question_identifier %></td>
              <td><%= option.text %></td>
              <td><%= option.translated_for @instrument_translation.language, :text %></td>
            </tr>
          <% end %>
        <% end %>
        <% if question.starts_section %>
            <tr>
                <td>Section starting with <%= question.question_identifier %></td>
                <td><%= question.starts_section.title %></td>
                <td><%= question.starts_section.translated_for(@instrument_translation.language, :text) %></td>
            </tr>
        <% end %>
        <% if question.reg_ex_validation_message %>
          <td>Regular expression failure message for <%= question.question_identifier %></td>
          <td><%= question.reg_ex_validation_message %></td>
          <td><%= question.translated_for @instrument_translation.language, :reg_ex_validation_message %></td>
        <% end %>
    <% end %>
      </tbody>
    </table>
  </div>
</section>
