<section class="widget">
  <header>
    <h4><i class="icon-globe"></i> <%= link_to @instrument.title, instrument_path(@instrument) %> in <%= @instrument_translation.language %></h4>
    <strong>Title:</strong> <%= @instrument_translation.title %>
    <div class="actions hidden-xs-portrait"> 
      <%= link_to edit_instrument_instrument_translation_path(@instrument, @instrument_translation), class: 'btn btn-primary' do %>
        <i class="icon-globe"></i> Edit Translation
      <% end %>
    </div>
  </header>
  <div class="body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Question Identifier</th>
          <th><%= @instrument.language %></th>
          <th><%= @instrument_translation.language %></th>
        </tr>
      </thead>
      <tbody>
    <% @instrument.questions.each do |question| %>
        <tr>
          <td><%= question.question_identifier %></td>
          <td><%= question.text %></td>
          <td><%= question.translated_for @instrument_translation.language %></td>
        </tr>
        <% if question.has_options? %>
          <% question.options.each do |option| %>
            <tr>
              <td>Option for <%= question.question_identifier %></td>
              <td><%= option.text %></td>
              <td><%= option.translated_for @instrument_translation.language %></td>
            </tr>
          <% end %>
        <% end %>
    <% end %>
      </tbody>
    </table>
  </div>
</section>
