<section class="widget" ng-controller="RulesCtrl">
<%= form_for([current_project, @rule]) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @rule.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="field top-buffer">
      <%= f.label :instrument, 'Instrument' %> <br />
      <%= f.select :instrument_id, current_project.instruments.all.collect {|i| [ i.title, i.id ] }, class: 'form-control' %>
    </div>

    <div class="field top-buffer">
      <%= f.label :rule_type, 'Rule Type' %> <br />
      <select
        chosen
        class="select2-container select-block-level"
        data-placeholder="Select a rule type..."
        no-results-text="'This does not match any valid rule type'"
        id="rule-type"
        ng-model="currentRuleType"
        ng-options="type as type for type in ruleTypes()"
        required
        >
          <option value=""><option>
        </select>
        <input id="rule_rule_type" name="rule[rule_type]" type="hidden" value="{{ currentRuleType }}">
    </div>

    <div class="field top-buffer" ng-show="currentRuleType == 'INSTRUMENT_SURVEY_LIMIT_RULE'">
      <%= Settings.rule_types.instrument_survey_limit_rule.description %><br /><br /> 
      Max Surveys: <input type="text" ng-model="maxSurveys">
    </div>

    <div class="field top-buffer" ng-show="currentRuleType == 'INSTRUMENT_TIMING_RULE'">
      <%= Settings.rule_types.instrument_timing_rule.description %><br /><br />
      Start time: <input type="time" ng-model="startTime"><br />
      End Time: <input type="time" ng-model="endTime">
    </div>

    <div class="field top-buffer" ng-show="currentRuleType == 'INSTRUMENT_SURVEY_LIMIT_PER_MINUTE_RULE'">
      <%= Settings.rule_types.instrument_survey_limit_per_minute_rule.description %><br /><br /> 
      Number of surveys: <input type="text" ng-model="numSurveys"><br />
      Interval in minutes: <input type="text" ng-model="minuteInterval">
    </div>

    <div class="field top-buffer" ng-show="currentRuleType == 'PARTICIPANT_TYPE_RULE'">
      <%= Settings.rule_types.participant_type_rule.description %><br /><br /> 
      Participant Type: <select ng-options="pt as pt for pt in participantTypes()" ng-model="participantType"></select><br />
    </div>

    <input id="rule_rule_params" name="rule[rule_params]" type="hidden" value="{{ getRuleParams() }}">

    <div class="top-buffer">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
</section>
