<div class="well">
  <fieldset>
    <%= f.label :text, "Text" %>
    <%= f.text_field :text, size: 50 %>
    <%= f.label :next_question %>
    <%= f.text_field :next_question, size: 6 %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove Option", '#', class: "pull-right btn btn-danger remove_fields" %>
  </fieldset>
</div>
