<div class="well question">
  <fieldset>
    <div>
      <%= f.label :question_type %><br />
      <%= f.select(:question_type, options_for_select(Settings.question_types, f.object.question_type), {}, { class: 'form-control' }) %>
    </div>

    <div class="top-buffer">
      <%= f.label :question_identifier %><br />
      <%= f.text_field :question_identifier, class: 'form-control question-identifier' %>
    </div>

    <div class="top-buffer">
      <%= f.label :number_in_instrument %>
      <%= f.text_field :number_in_instrument, class: 'form-control number-in-instrument' %>
    </div>
    
    <% if f.object.following_up_question_identifier.blank? %>
      <a href="#" class="btn btn-info show-follow-up-btn top-buffer">Follow Up Question</a>
      <div class="field follow-up-question top-buffer">
        <%= f.label :following_up_question_identifier, 'Question identifier to follow up' %><br />
        <%= f.select :following_up_question_identifier, [], {}, { class: 'form-control question-identifier-list' } %>
      </div>
    <% else %>
      <%= f.label :following_up_question_identifier, 'Question identifier to follow up' %><br />
      <%= f.text_field :following_up_question_identifier, class: 'form-control' %>
    <% end %>

    <div class="top-buffer">
      <%= f.label :reg_ex_validation, 'Regular expression for response validation' %><br />
      <%= f.text_field :reg_ex_validation, class: 'form-control' %>
    </div>

    <div class="top-buffer">
      <%= f.label :text %><br />
      <%= f.text_area :text, rows: 4, class: 'form-control' %>
    </div>

    <div class="field follow-up-explanation">
      Hint: Write [followup] in question text to reference answer of the question being followed up.
    </div>

    <div class="top-buffer">
      <%= f.fields_for :options do |builder| %>
        <%= render partial: 'option_fields', locals: { f: builder, question_type: f.object.question_type } %>
      <% end %>
    </div>

    <div class="top-buffer">
      <% if f.object.question_type.nil? or Settings.question_with_options.include?(f.object.question_type) %>
        <%= link_to_add_fields "Add Option", f, :options, class: 'pull-right btn btn-success' %>
      <% end %>
      <%= link_to "Remove Question", '#', class: "btn btn-danger remove_fields" %>
      <%= link_to "Move up", '#', class: "btn btn-info move-up" %>
      <%= link_to "Move Down", '#', class: "btn btn-info move-down" %>
      <%= f.hidden_field :_destroy %>
    </div>
  </fieldset>
</div>
