<div class="well">
  <fieldset>
    <div>
      <%= f.label :question_type %><br />
      <%= f.select(:question_type, options_for_select(Settings.question_types, f.object.question_type)) %>
    </div>

    <div class="top-buffer">
      <%= f.label :question_identifier %><br />
      <%= f.text_field :question_identifier %>
    </div>

    <div class="top-buffer">
      <%= f.label :text %><br />
      <%= f.text_area :text, rows: 4, class: 'form-control' %>
    </div>

    <div class="top-buffer">
      <%= f.fields_for :options do |builder| %>
        <%= render partial: 'option_fields', locals: { f: builder, question_type: f.object.question_type } %>
      <% end %>
    </div>

    <div class="top-buffer">
      <% if Settings.question_with_options.include? f.object.question_type %>
        <%= link_to_add_fields "Add Option", f, :options, class: 'pull-right btn btn-success' %>
      <% end %>
      <%= link_to "Remove Question", '#', class: "btn btn-danger remove_fields" %>
    </div>
  </fieldset>
</div>
