<div class="body">
<div ng-controller="QuestionsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>)">
  <div>
    <button class="btn btn-primary" ng-click="displayQuestions()">Mass Copy</button>
    <div ng-show="visible"><%= render 'questions_form_mass_copy' %></div>
  </div>
  <div ng-show="questionVisibility">
  <div class="pagination col-md-12" ng-show="total_pages > 1">
    <li><a ng-click="setEndPages(1)"><i class="eicon-left-open-big"></i></a></li>
    <li><a ng-click="setPage(current_page - 1)"><i class="icon-arrow-left"></i></a></li>
       <li ng-repeat="page in pages" ng-class="{ active: current_page == page }">
           <a ng-click="setPage(page)"> {{ page }} </a>
       </li>
    <li><a ng-click="setPage(current_page + 1)"><i class="icon-arrow-right"></i></a></li>
    <li><a ng-click="setEndPages(total_pages)"><i class="eicon-right-open-big"></i></a></li>
  </div>
  <input type="search" ng-model="searchText" ui-keypress="{ 13 : 'searchItem()' }" placeholder="Search questions..." class="form-control bottom-buffer">
  <div ui-sortable="sortableOptions" ng-model="questions">
    <div class="row" ng-repeat="question in questions | orderBy:number_in_instrument">
      <div class="col-md-3">
	 <form ng-submit="repositionQuestion(question)"> <span class="tiny-column"><input type="text" size="4" name="number-in-instrument" ng-model="question.number_in_instrument" required></span> </form>
	<a class="btn btn-default move-question"><i class="icon-move"></i></a>
        <a class="btn btn-default" ng-click="editQuestion(question)"><i class="icon-edit"></i></a>
        <a class="btn btn-danger" ng-click="deleteQuestion(question)"><i class="icon-trash"></i></a>
      </div>
      <div class="col-md-9">
        <div ng-hide="edit_question == question" class="widget">
          <header>
            <div class="col-md-6 text-left"><strong><h4>{{question.question_identifier}}</h4></strong></div>
            <div class="col-md-6 text-right"><strong><p>{{question.question_type}}</p></strong></div>
          </header>
          <div class="body" ng-bind-html="question.text"></div>
        </div>
        <div ng-controller="OptionsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>, question.id)">
        <div ng-show="edit_question == question">
          <section class="widget widget-tabs">
            <header>
              <ul class="nav nav-tabs">
                <li><a href=".tab-general" data-toggle="tab">General</a></li>
                <li><a href=".tab-logic" data-toggle="tab">Logic</a></li>
                <li><a href=".tab-advanced" data-toggle="tab">Advanced</a></li>
                <li><a href=".tab-copy" data-toggle="tab">Copy</a></li>
              </ul>
            </header>
            <%= render 'questions_form_body_tab' %>
            <%= render 'questions_form_logic_tab' %>
            <%= render 'questions_form_advanced_tab' %>
            <%= render 'questions_form_copy_tab' %>
              <div class="form-actions">
                <a class="btn btn-success pull-right" id="save-question" ng-click="saveQuestion()" ng-disabled="question_form.$invalid">Save</a>
                <a class="btn btn-danger pull-right" ng-click="cancelQuestion()">Cancel</a>
              </div>
            </div>
          </section>
        </div>
        </div>
      </div>
    </div>
    <div class="pagination" ng-show="total_pages > 1">
        <li><a ng-click="setEndPages(1)"><i class="eicon-left-open-big"></i></a></li>
        <li><a ng-click="setPage(current_page - 1)"><i class="icon-arrow-left"></i></a></li>
        <li ng-repeat="page in pages" ng-class="{ active: current_page == page }">
             <a ng-click="setPage(page)"> {{ page }} </a>
        </li>
        <li><a ng-click="setPage(current_page + 1)"><i class="icon-arrow-right"></i></a></li>
        <li><a ng-click="setEndPages(total_pages)"><i class="eicon-right-open-big"></i></a></li>
    </div>
  </div>
  <div class="top-buffer">
    <a class="btn btn-success" ng-click="newQuestion()" id="add-question-button"><i class="icon-plus"></i> Add Question</a>
  </div>
  </div>
</div>
</div>
