<div class="body">
<div ng-controller="QuestionsCtrl" ng-init="init(<%= @project.id %>, <%= @instrument.id %>)">
  <ul class="pagination">
    <li><a ng-click="setPage(current_page - 1)"><i class="icon-arrow-left"></i></a></li>
       <li ng-repeat="page in pages" ng-class="{ active: current_page == page }">
         <a ng-click="setPage(page)"> {{ page }} </a>
       </li>
    <li><a ng-click="setPage(current_page + 1)"><i class="icon-arrow-right"></i></a></li>
  </ul> 
  <!-- <a ng-click="setPage(2)">2</a> -->
  <input type="search" ng-model="q" placeholder="Search questions..." class="form-control bottom-buffer">
  <div ui-sortable="sortableOptions" ng-model="questions">
    <div class="row" ng-repeat="question in questions | filter:q">
      <div class="col-md-3">
	 <form ng-submit="repositionQuestion()"> <span class="tiny-column"><input type="text" size="4" name="number-in-instrument" ng-model="question.number_in_instrument" required></span> </form>
	<a class="btn btn-default move-question"><i class="icon-move"></i></a>
        <a class="btn btn-default" ng-click="editQuestion(question)"><i class="icon-edit"></i></a>
        <a class="btn btn-danger" ng-click="deleteQuestion(question)"><i class="icon-trash"></i></a>
      </div>
      <div class="col-md-9">
        <div ng-hide="edit_question == question" class="widget">
          <header>
            <strong><h4>{{question.question_identifier}}</h4></strong>
            <div class="actions">
              <!--<a class="btn btn-xs btn-inverse"><i class="icon-arrow-down"></i> View more</a>-->
            </div>
          </header>
          <div class="body" ng-bind-html="question.text"></div>
        </div>
        <div ng-show="edit_question == question">
          <section class="widget widget-tabs">
            <header>
              <ul class="nav nav-tabs">
                <li><a href=".tab-general" data-toggle="tab">General</a></li>
                <li><a href=".tab-logic" data-toggle="tab">Logic</a></li>
                <li><a href=".tab-advanced" data-toggle="tab">Advanced</a></li>
              </ul>
            </header>
            <%= render 'questions_form_body_tab' %>
            <%= render 'questions_form_logic_tab' %>
            <%= render 'questions_form_advanced_tab' %>
              <div class="form-actions">
                <a class="btn btn-success pull-right" id="save-question" ng-click="saveQuestion()" ng-disabled="question_form.$invalid">Save</a>
                <a class="btn btn-danger pull-right" ng-click="cancelQuestion()">Cancel</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="top-buffer">
    <a class="btn btn-success" ng-click="newQuestion()" id="add-question-button"><i class="icon-plus"></i> Add Question</a>
  </div>
  <ul class="pagination">
    <li><a ng-click="setPage(current_page - 1)"><i class="icon-arrow-left"></i></a></li>
       <li ng-repeat="page in pages" ng-class="{ active: current_page == page }">
         <a ng-click="setPage(page)"> {{ page }} </a>
       </li>
    <li><a ng-click="setPage(current_page + 1)"><i class="icon-arrow-right"></i></a></li>
  </ul>
</div>

</div>
