<h1><%= @instrument.title %></h1>

<section class="widget">
  <header>
    <div class="actions hidden-xs-portrait"> 
      <%= link_to instrument_versions_path(@instrument), class: 'btn btn-primary' do %>
        <i class="icon-globe"></i> View Translations
      <% end %>
      <%= link_to instrument_versions_path(@instrument), class: 'btn btn-primary' do %>
        <i class="icon-repeat"></i> View Versions
      <% end %>
      <%= link_to edit_instrument_path(@instrument), class: 'btn btn-primary' do %>
        <i class="icon-edit"></i> Edit Instrument 
      <% end %>
    </div>
  </header>
  <div class="body">
    <ol class="questions">
      <% @instrument.questions.each do |question| %>
        <li>
          <%= question.text %> <br />
          <span class="label label-info"><%= question.question_type %></span>
          <% unless question.options.empty? %>
            <br />Options:
            <ol class="options" start="0">
              <% question.options.each do |option| %>
                <li><%= option.text %></li>
              <% end %>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</section>
