<h1><%= @instrument.title %></h1>

<section class="widget">
  <div class="body">
    <ol class="questions">
      <% @instrument.questions.each do |question| %>
        <li>
          <%= question.text %> <br />
          <span class="label label-info"><%= question.question_type %></span>
          <% unless question.options.empty? %>
            <br />Options:
            <ol class="options" start="0">
              <% question.options.each do |option| %>
                <li><%= option.text %></li>
              <% end %>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>

    <%= link_to 'Edit', edit_instrument_path(@instrument) %> |
    <%= link_to 'Back to Instruments', instruments_path %>
  </div>
</section>
