<h1><%= @instrument.title %></h1>

<section class="widget">
  <header>
    <div class="actions hidden-xs-portrait"> 
      <%= link_to project_instrument_instrument_translations_path(@project, @instrument), class: 'btn btn-primary' do %>
        <i class="icon-globe"></i> Translations
      <% end %>
      <%= link_to project_instrument_versions_path(@project, @instrument), class: 'btn btn-primary' do %>
        <i class="icon-repeat"></i> Past Versions
      <% end %>
      <%= link_to edit_project_instrument_path(@project, @instrument), class: 'btn btn-primary' do %>
        <i class="icon-edit"></i> Edit Instrument 
      <% end %>
    </div>
  </header>
  <div class="body">
    <div class="bottom-buffer">
      <span class="label label-success">
        <i class="icon-bookmark"></i>
        <strong>Current Version: <%= @instrument.current_version_number %></strong>
      </span>
    </div>
    <ol class="questions">
      <% @instrument.questions.each do |question| %>
        <li>
          <%= question.text %> <br />
          <span class="label label-info"><%= question.question_type %></span>
          <% if question.has_options? %>
            <br />Options:
            <ol class="options" start="0">
              <% question.options.each do |option| %>
                <li><%= option.text %></li>
              <% end %>
            </ol>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>
</section>
