<h1><%= @instrument.title %></h1>

<section class="widget">
  <header>
    <div class="actions hidden-xs-portrait"> 
      <%= link_to export_project_instrument_path(@project, @instrument, format: :csv, filename: "#{@instrument.title}_#{@instrument.current_version_number}.csv"), class: 'btn btn-primary' do %>
        <i class="icon-circle-arrow-down"></i> Export Instrument
      <% end %>
      <%= link_to project_instrument_instrument_translations_path(@project, @instrument), class: 'btn btn-primary' do %>
        <i class="icon-globe"></i> Translations
      <% end %>
      <%= link_to project_instrument_versions_path(@project, @instrument), class: 'btn btn-primary' do %>
        <i class="icon-repeat"></i> Past Versions
      <% end %>
      <%= link_to edit_project_instrument_path(@project, @instrument), class: 'btn btn-primary' do %>
        <i class="icon-edit"></i> Edit Instrument 
      <% end %>
    </div>
  </header>
  <div class="body">
    <div class="bottom-buffer">
      <span class="label label-success">
        <i class="icon-bookmark"></i>
        <strong>Current Version: <%= @instrument.current_version_number %></strong>
      </span>
      <% if @instrument.published %>
        <span class="label label-success">
          <i class="icon-eye-open"></i>
          <strong>Published</strong>
        </span>
      <% else %>
        <span class="label label-danger">
          <i class="icon-eye-close"></i>
          <strong>Not Published</strong>
        </span>
      <% end %>
    </div>
  </div>

  <%= render 'questions_form' %>
</section>
