
<div class="row">
  <div id="general-stats" class="col-md-6">
    <h4> General statistics for <b> <%= params[:title] %> </b> </h4>
    <table>
      <% Instrument.general_statistics.each do |stat| %>
          <tr>
            <% stat.each do |key, value| %>
                <td> <%= key %> </td>
                <td> <%= value %> </td>
            <% end %>
          </tr>
      <% end %>
    </table>
  </div>

  <div id="key-events-stats" class="col-md-6">
    <h4> Single select events for <b> <%= params[:title] %> </b> </h4>
    <table>
      <tr>
        <th> Event </th>
        <th> Count </th>
      </tr>
      <% @responses.each do |question_number, response_array| %>
          <tr>
            <td> <b> Variable (Question #): </b> </td>
            <td> <b> <%=  question_number  %> </b> </td>
          </tr>
          <% hash = Hash.new(0)  %>
          <% response_array.each { |word| hash[word] += 1 } %>
          <% hash.each do |answer, count|  %>
              <tr>
                <td> <%= answer %> : </td>
                <td> <%= count %> </td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>

</div>