<nav id="sidebar" class="sidebar nav-collapse collapse">
  <ul id="side-nav" class="side-nav">
    <li class="<%= current_page?(root_path) ? 'active' : 'panel' %>">
      <%= link_to root_path do %>
          <i class="icon-home"></i><span class="name">Dashboard</span>
      <% end %>
    </li>
    <% if current_project.id %>
        <li class="<%= current_page?(project_devices_path(current_project)) ? 'active' : 'panel' %>">
          <%= link_to project_devices_path(current_project) do %>
              <i class="icon-mobile-phone"></i><span class="name">Devices</span>
          <% end %>
        </li>

        <li class="<%= current_page?(project_device_users_path(current_project)) ? 'active' : 'panel' %>">
          <%= link_to project_device_users_path(current_project) do %>
              <i class="icon-user"></i><span class="name">Device Users</span>
          <% end %>
        </li>

        <li class="<%= (current_page?(project_instruments_path(current_project)) or current_page?(new_project_instrument_path(current_project))) ? 'active' : 'panel' %>">
          <a class="accordion-toggle collapsed" data-toggle="collapse"
             data-parent="#side-nav" href="#instruments-collapse"><i class="icon-edit"></i> <span class="name">Instruments</span></a>
          <ul id="instruments-collapse" class="panel-collapse collapse">
            <li><%= link_to 'View Instruments', project_instruments_path(current_project) %></li>
            <li><%= link_to 'New Instrument', new_project_instrument_path(current_project) %></li>
          </ul>
        </li>

        <li class="<%= current_page?(project_surveys_path(current_project)) ? 'active' : 'panel' %>">
          <%= link_to project_surveys_path(current_project) do %>
              <i class="icon-download-alt"></i><span class="name">Survey Results</span>
          <% end %>
        </li>

        <li class="<%= current_page?(project_notifications_path(current_project)) ? 'active' : 'panel' %>">
          <%= link_to project_notifications_path(current_project) do %>
              <i class="icon-bell-alt"></i><span class="name">Notifications</span>
          <% end %>
        </li>
        
        <li class="<%= current_page?(project_graphs_daily_path(current_project)) ? 'active' : 'panel' %>">
           <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="icon-bar-chart"></i> <span class="name">Statistics</span></a>
           <ul id="stats-collapse" class="panel-collapse collapse">
             <li><%= link_to 'Response Charts', project_graphs_daily_path(current_project) %> </li>
             <li><%= link_to 'Realtime Charts', project_graphs_path(current_project) %></li>
           </ul>
        </li>

        <li class="<%= (current_page?(project_response_exports_path(current_project)) or current_page?(project_responses_path(current_project))) ? 'active' : 'panel' %>">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#side-nav" href="#exports-collapse"><i class="icon-download"></i> <span class="name">Exports</span></a>
           <ul id="exports-collapse" class="panel-collapse collapse">
            <li><%= link_to 'Past Exports', project_response_exports_path(current_project) %></li>
            <li><%= link_to 'New Export', project_responses_path(current_project) %></li>
          </ul>
        </li>

        <li class="<%= current_page?(project_rules_path(current_project)) ? 'active' : 'panel' %>">
          <%= link_to project_rules_path(current_project) do %>
              <i class="icon-check"></i><span class="name">Rules</span>
          <% end %>
        </li>

        <li class="<%= (current_page?(user_displayqr_path)) ? 'active' : 'panel' %>">
          <%= link_to user_displayqr_path do %>
              <i class="icon-lock"></i><span class="name">Two-Factor Authentication</span>
          <% end %>
        </li>
    <% end %>

    <li class="visible-xs">
      <a href="login.html"><i class="icon-signout"></i> <span class="name">Sign Out</span></a>
    </li>
  </ul>
</nav>
